.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
}


/* *Hiding vertical scrollbar */
body::-webkit-scrollbar {
  width: 0 !important;
}
body {
  overflow: -moz-scrollbars-none;
}
body {
  -ms-overflow-style: none;
}
